@font-face {
  font-family: 'Calibre';
  src: url("../fonts/CalibreWeb-Regular.eot");
  src: url("../fonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CalibreWeb-Regular.woff2") format("woff2"), url("../fonts/CalibreWeb-Regular.woff") format("woff"); font-weight: 400; font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("../fonts/CalibreWeb-Medium.eot");
  src: url("../fonts/CalibreWeb-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CalibreWeb-Medium.woff2") format("woff2"), url("../fonts/CalibreWeb-Medium.woff") format("woff"); font-weight: 500; font-style: normal;
}

@font-face {
  font-family: 'Domaine Display';
  src: url("../fonts/domainedisplay-regular.eot");
  src: url("../fonts/domainedisplay-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/domainedisplay-regular.woff2") format("woff2"), url("../fonts/domainedisplay-regular.woff") format("woff"); font-weight: 500; font-style: normal;
}

@font-face {
  font-family: 'Domaine Display';
  src: url("../fonts/domainedisplay-medium.eot");
  src: url("../fonts/domainedisplay-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/domainedisplay-medium.woff2") format("woff2"), url("../fonts/domainedisplay-medium.woff") format("woff"); font-weight: 500; font-style: normal;
}

* {
  font-family: 'Calibre', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; 
}

div.hdr {
  display: flex;
  align-items: center;
  position: relative;
  height: 105px;
  margin: 0 0 2.5em;
  color: rgba(210, 44, 59, 0.8);
}

.hdr img {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  border-color: rgba(210, 44, 59, 0.7);
  border-style: solid;
  border-radius: 4rem;
  border-width: 0.15em;
  padding: 0.25em;
}

.hdr h1 {
  margin: 0;
  flex-grow: 100;
  font-family: 'Domaine Display';
  text-align: center;
}

.fake-href {
  color: rgba(210, 44, 59, 0.8);
  font-size: 0.85em;
  letter-spacing: 0.08em;
}

#main-nav {
  list-style: none;
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
}

#main-nav li {
  float: right;
}

a {
  color: rgba(0, 42, 128,.8);
  font-family: 'Domaine Display';
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 42, 128,.5);
}
