{{ partial "header.html" }}
<div class="vh-100 dt w-100">
  <div class="dtc v-mid">
    <div class="mw6 center pa3 black-70">
      <div class="pb2">
        <div class="hdr">
            <img class="br4 dib" src="https://pbs.twimg.com/profile_images/645354983613853696/m6jC84oo.png" />
            <h1 class="f1 fw5">What's good?</h1>
        </div>
        <p class="lh-copy f4">My name is Boyma and I'm a <a href="https://github.com/boymanjor">software engineer</a> living in Oakland and working in SF.
          Currently, I'm on the Systems Engineering team at <a href="https://chain.com/">Chain</a>. In past 
          lives I've been a frontend engineer at <a href="https://www.marketingcloud.com/">Salesforce</a>, a wedding/club 
          deejay and the frontman of a largely unsuccessful <a href="https://soundcloud.com/thebrownjames/thrift-store">hip hop group</a>.
        </p>
        <p class="lh-copy f4">I'm interested in learning about crypto, smart contracts, distributed systems, and economics.
          I keep a technical journal to record the awesome things I've learned. Feel free to drop me a <a href="mailto:hello@boymanjor.com">line</a> or <a href="https://twitter.com/boymanjor">tweet</a>, but fair warning: I'm an internet recluse.
        </p>
        <p class="lh-copy f4">Shoutout to <a href="http://freshpepper.co">Jules Forrest</a>. She's my awesome designer friend whom I ripped off for the design of this page.
        </p>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" }}
