{{ partial "header.html" }}
<div class="vh-100 dt w-100">
  <div class="dtc v-mid">
    <div class="mw6 center pa3 black-70">
      <div class="pb2">
        <div class="hdr">
            <img class="br4 dib" src="https://pbs.twimg.com/profile_images/645354983613853696/m6jC84oo.png" />
            <h1 class="f1 fw6">What's good?</h1>
        </div>
        <p class="lh-copy f4">My name is Boyma and I work on the Systems Engineering team at <a href="https://chain.com/">Chain</a>. In past 
          lives I've been a frontend engineer at <a href="https://www.marketingcloud.com/">Salesforce</a>, a wedding/club 
          deejay and the frontman of a largely unsuccessful <a href="https://soundcloud.com/thebrownjames/thrift-store">hip hop group</a>.
        </p>
        <p class="lh-copy f4">I started reading about Bitcoin in the fall of 2015 and have been hooked on blockchains ever since. I'm starting
          a <a href="https://github.com/boymanjor/journal">journal</a> to help me grok the things I learn. Feel free to drop me a <a href="mailto:hello@boymanjor.com">line</a> or <a href="https://twitter.com/boymanjor">tweet</a>. 
          <span class="fw6 fake-href">WARNING:</span> I limit my internet usage so response time may be slow.
        </p>
        <p class="lh-copy f4">Special shoutout to my homegirl <a href="http://freshpepper.co">Jules</a>. Her site's design was the inspiration for this page.
        </p>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" }}
