{{ partial "header.html" . }}
<div class="vh-100 dt w-100">
  <div class="dtc v-mid">
    <div class="mw6 center pa3 black-70">
      <div class="pb2">
        <div class="hdr">
            <h1 class="f1 fw5">Hello, World!</h1>
        </div>
        <p class="lh-copy f4">
          My name is Boyma, and I like blockchains. In past lives I've been the
          vp of protocol engineering at
          <a href="https://purse.io">Purse.io</a>, a core contributor to the
          <a href="https://www.youtube.com/watch?v=h505L7A_Z8g">Handshake</a>
          protocol, an engineer on the protocol team at
          <a href="https://chain.com/">Chain</a>, a senior ui engineer at
          <a href="https://www.marketingcloud.com/">Salesforce</a>, and a rapper
          in a DIY <a href="https://soundcloud.com/thebrownjames/thrift-store">
          hip hop group</a>.
        </p>
        <p class="lh-copy f4">
          Feel free to drop me a <a href="mailto:boymanjor@protonmail.com">line</a> or <a href="https://twitter.com/boymanjor">tweet</a>.
          <span class="fw6 fake-href">WARNING:</span> I limit my internet usage so response time may be slow.
        </p>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
